*{
    background-color: whitesmoke;
}
:disabled{
    background-color: grey;
    border:ridge 1px back;
}
input:read-only{
    background-color: rgb(123, 141, 221);
}
h1{
    text-align: center;
    padding: 0%;
    margin: 0%;
}
.p{
    margin-left: 6%;
}
input:checked + span{
    border: yellow solid 2px;
    width: 18px;
    height: 18px;
}
:required{
    background-color:rgb(166, 175, 166);
}
input:out-of-range{
    background-color: red;
}
input:default{
    border: royalblue 2px solid;
}
input:invalid{
    background-color: rgb(250, 104, 104);
}
